html {
  -webkit-print-color-adjust: exact;
}

body {
  margin: 0;
  font-family: sans-serif;
  color: #384347;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.resume-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 8% 5%;
}

.resume-edit-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 3%;
  margin: 1% 20%;
  box-shadow: 3px 3px 5px 6px #ccc;
}

.header-container {
  display: flex;
  flex-basis: 100%;
  justify-content: space-between;
  margin-bottom: 50px;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.name {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 10px;
}

.blue-text {
  font-size: 15px;
  font-weight: 700;
  color: #4a90e2;
}

.flex-row {
  display: flex;
  margin-top: 5px;
}

.flex-row text {
  margin-right: 15px;
  margin-bottom: 0;
}

text, p, a {
  font-size: 12px;
}

.contact-item {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-right: 10px;
}

.contact-icon {
  margin-right: 5px;
  margin-top: 5px;
}

.no-wrap {
  white-space: nowrap;
}

.left-pane {
  width: 60%;
  padding-right: 15px;
}

.section-name {
  font-size: 12px;
  font-weight: 700;
  color: #787878;
}

h3, h5, p {
  margin-top: 12px;
  margin-bottom: 5px;
}

h3 {
  font-size: 18px;
}

.experience-container {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  justify-content: space-between;
}

.experience-description {
  margin-left: 18px;
  margin-bottom: 25px;
}

ul {
  padding-left: 0;
  margin-top: 10px;
}

.experience-description-title {
  font-size: 14px;
  font-weight: 700;
}

.experience-description p {
  margin-top: 5px;
}

.right-pane {
  width: 40%;
  padding-left: 15px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.right-pane-item {
  margin-bottom: 40px;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
}

.skills-container * {
  margin-right: 10px;
}

.skill-item {
  font-size: 12px;
  font-weight: 700;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  margin-top: 12px;
  margin-bottom: 5px;
  margin-right: 10px;
  border-bottom: 1px solid rgba(56, 67, 71, 0.2);
}

.education-details-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 5px;
}

.gpa-container {
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid rgba(56, 67, 71, 0.2);
  border-radius: 5px;
}

.interests {
  margin-top: 12px;
  font-size: 12px;
  font-weight: 700;
}

.find-me-item {
  display: flex;
  flex-basis: 100%;
  align-items: center;
}

.icon {
  margin-top: 10px;
  margin-right: 10px;
  color: #4a90e2;
}

a {
  text-decoration: none;
  color: #384347;
}
